
.error-text{
    position: fixed;
    top: 200px;
    left: 200px;
    width: 30vw;
    height: 20vh;
    color: orange;
    font-size: 4em;
    transform: rotate(-30deg);
    font-family: Futura;
}

.shadowed{
    z-index: -3;
    width:100vw;
    height: 100vh;
    background-color: rgba(19, 20, 30, 0.81);
    margin: 0;
    padding: 0;
}

.main{
    z-index: -4;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/error404.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}