#title_img{
    max-height: 350px;
    margin-top: 2.5%;
}

#buy-button{
    margin-top: 7.5%;
}

.admin-news-btn{
    color: white;
    position: absolute;
    top: 36%;
    left: 68%;
    margin-bottom: 5%;
}

#carousel-news{
    position: fixed;
    top: 40%;
}

.news-block{
    display: inline-flex;
    height: 500px;
    width: 80%;
    margin-left: 10%;
}

.news-container{
    color: white;
    width: 22%;
    height: 70%;
    background-color: rgba(2, 2, 30, 0.81);
    margin-top: 4%;
    margin-left: 2%;
    padding: 2% 2% 2% 2%;
    border-radius: 5px;
    cursor: pointer;
}

.news-container:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .4s ease-in-out;
    box-shadow: 0 0 18px lightgoldenrodyellow;
}

.news-img{
    width: 100%;
}

.remove-news{
    z-index: 5;
    margin-top: -10%;
    margin-right: -10%;
}

.news-popup{
    z-index: 10;
    display: none;
    color: white;
    position: fixed;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 80%;
    background-color: black;
}

.news-inner-popup{
    display: inline-flex;
    padding: 5%;
}

.news-popup-author{
    position: absolute;
    bottom: 2%;
    width: 90%;
}

.news-popup-content{
    width: 100%;
    height: 90%;
    position: relative;
    top: 5%;
}

.float-container{
    float: left;
    width: 30%;
    height: auto;
    max-height: 250px;
    min-width: 300px;
    margin-right: 3%;
    margin-bottom: 2%;
}

.news-popup-img{
    width: 100%;
}

.close-popup{
    margin-top: 2%;
    margin-right: 2%;
}
/* Display other items than the active one */
.news-container.active + .news-container,
.news-container.active + .news-container + .news-container,
.news-container.active + .news-container + .news-container + .news-container{
    visibility: visible;
    display: block;
    position: absolute;
    top: 0;
    transition: transform 0.0s ease;
}

.active{
    transition: transform 0.0s ease;
}

.news-container.active + .news-container{
    left: 25%;
}

.news-container.active + .news-container + .news-container{
    left: 50%;
}

.news-container.active + .news-container + .news-container + .news-container{
    left: 75%;
}

/* transition and translation for item active and others displayed */
.news-container.active.carousel-item-left,
.news-container.active.carousel-item-left + .news-container.carousel-item-next,
.news-container.active.carousel-item-left + .news-container.carousel-item-next + .news-container,
.news-container.active.carousel-item-left + .news-container.carousel-item-next + .news-container + .news-container{
    transform: translate3d(-100%, 0, 0);
    transition: transform 1s ease-in;
}


.news-container.active.carousel-item-right,
.news-container.active.carousel-item-right + .news-container,
.news-container.active.carousel-item-right + .news-container + .news-container,
.news-container.active.carousel-item-right + .news-container + .news-container + .news-container{
    transform: translate3d(100%, 0, 0);
    transition: transform 1s ease;
}

.news-container.active.carousel-item-left + .news-container.carousel-item-next{
    transform: translate3d(-5%, 0, 0);
    transition: transform 1s ease-in;
    left: 3%;
}
